<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mot de Passe oublié</title>
</head>
<body>
    <div class="main">
        <h1>REINITIALISEZ VOTRE MOT DE PASSE</h1>
        <form action="/forgetpassword" method="POST">
            <input type="name" name="name" placeholder="Premon & Nom" />
            <input type="email" name="email" placeholder="Adresse mail" />
            <input type="password" name="password" placeholder="Nouveau Mot de passe" />
            <input type="password" name="passwordConfirm" placeholder="Confirmer le Mot de passe" />
            <button>ENREGISTRER</button>
            <label><strong><a class="page" href="http://localhost:3000/connecter">Connectez-vous ici</a></strong></label>

        </form>
    </div>

</body>
</html>