<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inscription</title>
</head>

<body>

    <div class="main">
        <h1>S'INSCRIRE POUR CREER UN COMPTE</h1>
        <form action="/inscrire" method="POST">
            <input type="name" name="name" placeholder="Premon & Nom" />
            <input type="email" name="email" placeholder="Adresse mail" />
            <input type="password" name="password" placeholder="Mot de passe" />
            <input type="password" name="passwordConfirm" placeholder="Confirmer le Mot de passe" />
            <button>S'INSCRIRE</button>
            <label><strong><a class="page" href="http://localhost:3000/connecter">Dejà un compte? Connectez-vous ici</a></strong></label>

        </form>
    </div>

</body>

</html>